@import '../abstract/variaveis';
.banner{
    background: url(../imagens/banner.jpeg) 27% center no-repeat;
    min-height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.85;
    .inner-banner{
        padding: 3rem;
        background-color: $cor-amarelo-claro;
        opacity: 0.8;
        border-radius: 45px;
        h1{
            font-size: $tamanho-padrao;
            color: $cor-azul;
            text-align: center;
        }
        h2{
            font-size: $tamanho-1_5rem;
            color: $cor-cinza-escuro;
        }
    }
}