// FONTES
$fonte: 'Roboto', sans-serif;

// CORES
$cor-azul: #4C6793;
$cor-cinza-escuro: #3C4048;
$cor-cinza-claro: #EAEAEA;
$cor-amarelo-claro: #F1E0AC;


// TAMANHO FONTES
$tamanho-padrao: 3rem;
$tamanho-2rem: 2rem;
$tamanho-1_5rem: 1.5rem;
$tamanho-1rem: 1rem;
